ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
POLYGONSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
CMC_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://ropsten.infura.io/v3/<YOUR ALCHEMY KEY>
RINKEBY_URL=https://rinkeby.infura.io/v3/<YOUR ALCHEMY KEY>
POLYGON_MUMBAI_URL=https://polygon-mumbai.infura.io/v3/<YOUR INFURA KEY>
POLYGON_AMOY_URL=https://polygon-amoy.infura.io/v3/<YOUR INFURA KEY>
GOERLI_URL=https://goerli.infura.io/v3/<YOUR INFURA KEY>
FIREBLCOKS_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
FIREBLOCKS_API_PRIVATE_KEY_PATH=./.envSecret/fireblocks_secret.key
FIREBLOCKS_VAULT_ACCOUNT_IDS=xxx
